config/acme*.json
config/frontend/*.js
config/gateway/mapping.yaml
config/peatio/management_api_v1.yml
config/barong/management_api.yml
config/toolbox.yaml
config/traefik*.toml
config/*.env
config/secrets/*
!config/secrets/.gitkeep
config/peatio/seed/*
!config/peatio/seed/.gitkeep
config/applogic/*
!config/applogic/.gitkeep
vendor/
!vendor/.gitkeep
.terraform/
*.tfvars
terraform.tfstate*
!data/parity/.gitkeep

# add later
deploy_secrets/*
!deploy_secrets/.gitkeep
master.key
/.bundle
.env
config/mailsv/*
!config/mailsv/.gitkeep
config/app.yml
config/utils.yml
config/deploy.yml
compose/*.yaml
config/postmaster.yml
config/arke/etl.yml
config/arke/strategies.yml
config/gateway/envoy.yaml
data/parity
data/bitcoin
config/bitcoin.conf
config/litecoin.conf
ardor.conf
config/barong/seeds.yml
/config/app.yml.d/*.yml
!/config/app.yml.d/sample.app.yml
.*.tfstate.lock.info
*.tar.gz
*.tar.gz.enc
*.tgz
*.tgz.enc
confpack.json
*.tf
/config/render.json
