config/acme*.json
config/frontend/*.js
config/gateway/mapping.yaml
config/toolbox.yaml
config/traefik*.toml
config/*.env
config/secrets/*
!config/secrets/.gitkeep
vendor/
!vendor/.gitkeep
.terraform/
*.tfvars
terraform.tfstate*
deploy_secrets/*
!deploy_secrets/.gitkeep
master.key
/.bundle
.env
config/app.yml
config/utils.yml
config/deploy.yml
compose/*.yaml
config/gateway/envoy.yaml
/config/app.yml.d/*.yml
!/config/app.yml.d/sample.app.yml
.*.tfstate.lock.info
*.tar.gz
*.tar.gz.enc
*.tgz
*.tgz.enc
confpack.json
*.tf
/config/render.json
/*.sql
