config/acme*.json
config/traefik*.toml
config/*.env
config/secrets/*
!config/secrets/.gitkeep
vendor/
!vendor/.gitkeep
.terraform/
*.tfvars
terraform.tfstate*
deploy_secrets/*
!deploy_secrets/.gitkeep
master.key
/.bundle
.env
compose/*.yaml
*.tfstate.lock.info
*.lock.hcl
*.tar.gz
*.tar.gz.enc
*.tgz
*.tgz.enc
confpack.json
*.tf
/config/render.json
/*.sql
